<p>biglietto-emissione-logistica works!</p>

<div class="container">
  <caption class="title  col-sm-12"><strong>{{title}}</strong></caption>
  <div class="row col-md-12">    <!--  <div class="row justify-content-md-center"> -->
     <div >
      <form #fm ="ngForm">
        <input #id="ngModel"  [(ngModel)]="pren.id" class="form-control" name="id" id="id">

      <div class="row">
        <label for="descrizione" class="col-sm-2 col-form-label">Evento</label>
        <div class=" col-md-6">
          <input disabled #descrizione="ngModel"  [(ngModel)]="evento.descrizione" class="form-control" name="descrizione" id="descrizione"   style="text-transform : uppercase">
        </div>
        <div class=" col-md-2">
    <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
            <div>
              <input disabled #d_stato_evento="ngModel"  [(ngModel)]="evento.d_stato_evento" class="form-control" name="d_stato_evento" id="d_stato_evento" [style.color]="evento.stato == 2 ? 'red' : 'white'"  [style.background-color]="evento.stato == 2 ? 'yellow' : 'red'">
            </div>
          </div>
      </div>
      <br>
      <div class="row">
        <label for="localita" class="col-sm-2 col-form-label">Localita</label>
        <div class=" col-md-6">
          <input disabled #localita="ngModel"  [(ngModel)]="evento.localita" class="form-control" name="localita" id="localita"   style="text-transform : uppercase">
        </div>
        <div class=" col-md-2">
    <!--    <label for="descManif" class="col-sm-3 col-form-label">Stato</label><div class="col-sm-8">   -->
            <div>
               <input  disabled [(ngModel)]="evento.data" [ngModel]="evento.data | date:'dd/MM/yyyy'" #data="ngModel" class="form-control"  name="data" id="data">
            </div>
          </div>
      </div>

      <hr>
      <div class="row">
        <label for="cognome"  class="col-sm-2 col-form-label">Utente</label>
        <div class="col-sm-4">
          <input type="text" disabled class="form-control lowertxt" id="cognome" [(ngModel)]="pren.cognome" #cognome="ngModel" name="cognome" ngModel  style="text-transform : uppercase" >
        </div>
         <div class="col-sm-4">
          <input type="text" disabled class="form-control lowertxt" id="nome" [(ngModel)]="pren.nome" #nome="ngModel" name="nome" ngModel  style="text-transform : uppercase" >
        </div>
      </div>

      <hr>
      <div class="row">
        <label for="settore"  class="col-sm-2 col-form-label">Posto</label>
        <div class="col-sm-3">
          <input type="text" disabled class="form-control lowertxt" id="settore" [(ngModel)]="logsettore.dsettore" #settore="ngModel" name="settore" ngModel  style="text-transform : uppercase" >
        </div>
        <div class="col-sm-3">
          <input type="text" disabled class="form-control lowertxt" id="fila" [(ngModel)]="logfila.dfila" #nome="ngModel" name="fila" ngModel  style="text-transform : uppercase" >
        </div>
        <label for="posto"  class="col-sm-1 col-form-label">Posto</label>
        <div class="col-sm-1">
          <input type="text" disabled class="form-control" id="posto" [(ngModel)]="pren.idposto" #posto="ngModel" name="posto" ngModel>
        </div>
      </div>
      <br>
      <div class="row">
        <label for="tipob"  class="col-sm-2 col-form-label">Tipo Biglietto</label>
        <div class="col-sm-2">
          <input type="text" disabled class="form-control lowertxt" id="tipob" [(ngModel)]="tipobiglietto.d_tipo" #tipob="ngModel" name="tipob" ngModel  style="text-transform : uppercase" >
        </div>
        <label for="importo"  class="col-sm-2 col-form-label">Importo</label>
        <div class="col-sm-1">
          <input type="text" disabled class="form-control lowertxt" id="importo" [(ngModel)]="tipobiglietto.importo " #importo="ngModel" name="importo" ngModel >
        </div>
      </div>
      <br>
      <div class="row">

          <label for="modalita"  class="col-sm-3 col-form-label">Modalità di Pagamento</label>
          <div class="col-sm-5">
            <div class="form-check form-check-inline" *ngFor="let option of options; let idx = index">
              <input type="radio" name="radiogroup" [checked]="idx === 0" [value]="option" (change)="onSelectionChange(option)">&nbsp; {{option}}
            </div>
          </div>

      </div>
      <br>
            <!-- settore -->
      <div class="row" *ngIf="visibleContanti === true">
              <label for="importodainc" class="col-sm-3 col-form-label">Importo da incassare</label>
              <div class="col-md-1">
                    <input  disabled [(ngModel)]="tipobiglietto.importo " #importodainc="ngModel" class="form-control"  name="importodainc" id="importodainc">
              </div>

      </div>
      <br>
      <div class="row" *ngIf="bigliettoemesso === true">
        <label for="bigliettoen" class="col-sm-3 col-form-label">Biglietto Emesso</label>
        <div class="col-md-1">
              <input  disabled [(ngModel)]="tipobiglietto.serie " #serie="ngModel" class="form-control"  name="serie" id="serie">
        </div>
        <div class="col-md-1">
          <input  disabled [(ngModel)]="numerobigliettoedit" #numbiglietto="ngModel" class="form-control"  name="numbiglietto" id="numbiglietto">
    </div>

</div>
<br>








      <div class="footer" >
        <div class="row col-sm-10 offset-2">


          <div class="col-sm-3" *ngIf="bigliettoemesso === false && visibleContanti === true">
            <button [disabled]="fm.invalid" class="btn btn-success btn-md " (click)="conferma()">Incassa
              <fa-icon [icon]="faSave"  fixed="true"></fa-icon>
            </button>
          </div>
          <div class="col-sm-3" >
            <button  class="btn btn-info btn-md "  (click)="goback()"> Ritorna
              <fa-icon [icon]="faReply"  fixed="true"></fa-icon>
            </button>
          </div>
        </div>
      </div>



        <!--  fine personaizzazione  -->




        <br>
        <div class="form-row col-md-12">
          <div class="row col-md-12">

             <div class="form-row">
              <div class="col-md-12">
                 <!-- messaggi -->
                <div *ngIf="!alertSuccess && isVisible" class="alert alert-danger" role="alert">
                  <!--   <h4 class="alert-heading">Errore in elenco</h4>    -->
                        <div class="col md-12">
                          <p>{{Message}}</p>
                        </div>
                 </div>
                 <div *ngIf="alertSuccess && isVisible" class="alert alert-success" role="alert">
                   <!--   <h4 class="alert-heading">Modifca Password</h4>    -->
                        <div class="col md-12">
                          <p>{{Message}}</p>
                        </div>
                  </div>
                </div>
             </div>
          </div>
        </div>




      </form>
    </div>
   </div>














</div>




<!--

<div class="mt-4 col-10 offset-2">

  <div class="card col-sm-10">




    <div class="card-body">
      <form name="formRegistrazione"  #formRegistrazione=ngForm >
        <div class="form-group row lowertxt">
              <label for="inputcognome3"  class="col-sm-3 col-form-label">Cognome</label>
              <div class="col-sm-9">
              <input type="text" name="cognome" class="form-control lowertxt" id="inputcognome3" placeholder="cognome" [(ngModel)]="form.cognome" required  minlength="5" maxlength="40" #cognome="ngModel" ngModel  style="text-transform : uppercase">
              <br>
              <div *ngIf="cognome.dirty && cognome.touched && cognome.invalid" class="alert alert-danger">
                      <div  *ngIf="cognome.errors.required">
                        il campo cognome è obbligatorio
                      </div>
                      <div  *ngIf="cognome.errors.minlength">
                        il campo deve essere lungo più di {{ cognome.errors.minlength.requiredLength }} caratteri
                      </div>
                      <div  *ngIf="cognome.errors.maxlength">
                        il campo non deve essere lungo più di {{ cognome.errors.maxlength.requiredLength }} caratteri
                      </div>
                </div>
              </div>
        </div>




        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" name="email" class="form-control lowertxt" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required email #email="ngModel" ngModel  style="text-transform : lowercase">
            <br>
            <div *ngIf="email.dirty && email.touched && email.invalid">
                    <div  *ngIf="email.errors.required"  class="alert alert-danger">
                      il campo email è obbligatorio
                    </div>
                    <div *ngIf="email.errors?.email"  class="alert alert-danger">
                      Email errata
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputtelefono3"  class="col-sm-3 col-form-label">telefono</label>
          <div class="col-sm-9">
            <input type="text" name="telefono" class="form-control" id="inputtelefono3" placeholder="telefono" [(ngModel)]="form.telefono" required #telefono="ngModel" minlength="10" maxlength="10" ngModel pattern="^[0-9]*$">
            <br>
            <div *ngIf="telefono.dirty && telefono.touched && telefono.invalid" class="alert alert-danger">
                  <div  *ngIf="telefono.errors.required">
                    il campo telefono è obbligatorio
                  </div>
                  <div  *ngIf="telefono.errors.pattern">
                    il campo telefono deve contenere solo numeri
                  </div>
                  <div  *ngIf="telefono.errors.minlength">
                    il campo deve essere lungo {{ telefono.errors.minlength.requiredLength }} caratteri
                  </div>
                  <div  *ngIf="telefono.errors.maxlength">
                    il campo non deve essere lungo più di {{ telefono.errors.maxlength.requiredLength }} caratteri
                  </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="form.cognome != '' && form.nome != '' && form.email != '' && form.telefono != '' ">
          <div class="col-sm-3">
            <button type="button" class="btn btn-success btn-sm-2" (click)="openSelezPosto(formRegistrazione)" >Sel. Posto
              <fa-icon [icon]="faPlus"  fixed="true"></fa-icon>
            </button>
          </div>
        </div>

        <hr>



        <hr>


        <div *ngIf="isVisible  && !alertSuccess" class="alert alert-danger" role="alert">
            <p>{{Message}}</p>
        </div>
        <div *ngIf="isVisible  && alertSuccess" class="alert alert-success" role="alert">
           <p>{{Message}}</p>
        </div>

        <hr>

        <div class="form-group row">
          <div class="col-sm-10 offset-3">
            <div class="row">
                <div class="col-sm-3"  *ngIf="registratoevento === false">
                  <button  class="btn btn-success btn-sm-2" (click)="nuovaPrenotazione()" >Nuova
                    <fa-icon [icon]="faPlus"  fixed="true"></fa-icon>
                  </button>
                </div>
                <div class="col-sm-3" *ngIf="registratoevento === false">
                  <button class="btn btn-primary" [disabled]="!formRegistrazione.valid && nrich != 0"  (click)="rilasciaRichieste()">Conferma
                    <fa-icon [icon]="faSave"  fixed="true"></fa-icon>
                  </button>
                </div>



            </div>


          </div>
        </div>

      </form>
    </div>
  </div>
</div>

-->






