<td>{{i}}</td>
  <td>{{socio.cognome}}</td>
  <td>{{socio.nome}}</td>
  <td>{{localita.d_localita}}</td>
  <td>{{socio.tessera}}</td>
     <!--  <td class="statoMan">{{statoTesseramento}}</td>  - -->
  <td [style.color]="getColor(statoTesseramento)"><strong>{{statoTesseramento}}</strong></td>


<!--
<td class="buttons">
  <div class="row">
    <div class="col-sm-4">
          <button   class="btn btn-success  btn-sm" (click)="showsocioestazionePopup(socio)" data-toggle="modal" data-target="#nosocioModal" >
             <fa-icon [icon]="faList" fixed="true"></fa-icon>
          </button>
    </div>
    <div class="col-sm-4">


            <button   class="btn btn-primary  btn-sm" (click)="showsocioestazioneDetail()" data-toggle="modal" data-target="#nosocioModal" >


         <fa-icon [icon]="faUserEdit" fixed="true"></fa-icon>


      </button>
    </div>
  </div>
</td>  -->




<!--  versione 2 -->
<td >
  <button class="btn btn-sm  btn-danger" (click)="open(content, socio)">a
  <fa-icon [icon]="faTrash"  fixed="true"></fa-icon>
</button>
</td>
<td >
  <button class="btn btn-sm  btn-primary" (click)="navigateTessere(socio)">t
  <fa-icon [icon]="faSimCard"  fixed="true"></fa-icon>
</button>
</td>
<td >
  <button class="btn btn-sm btn-success" (click)="navigateSocio(socio)">e
  <fa-icon [icon]="faUserEdit"  fixed="true"></fa-icon>
</button>
</td>


<ng-template #content let-modal>
  <div class="modal-header modal-header-color">
  <h4 class="modal-title" id="modal-basic-title">Conferma Cancellazione</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <form>
  <p>confermi la cancellazione del socio ?</p>


  </form>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel
    <fa-icon [icon]="faWindowClose" fixed="true"></fa-icon>

  </button>

  <button type="button" class="btn btn-danger btn-md " (click)="modal.close('Delete click')"> Cancella
    <fa-icon [icon]="faTrash" fixed="true"></fa-icon>
  </button>
  </div>
</ng-template>



