.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;    /* cover */
  width: 800px;
  height: 800px;

}

.marginline1 {
  margin-left: 30px;

  color: white;
  text-shadow: 2px 2px 4px violet;
}
.marginline2 {
  margin-left: 30px;
  margin-top: 50px;

}

.paddingx {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 10px;
}

.bordmg {
  border: 3px solid red;
}

.bordmg1 {
  border: 2px solid green;
}

.bordmg2 {
  border: 2px solid orange;
}
.bordmg3 {
  border: 2px solid violet;
}

.spacemg {

  margin-left: 5px;
}

.titleManif {
  color: red;
  font-weight: bold;
}

.textgm {
  text-align: center;
}

