.btnevento {
    width: 1000;
    height: 1000;
    text-align: center;
    color: white;
    background-color: red;
    border-color: blue
  }

  .btnevento1 {
    width: 2000;
    height: 2000;
    text-align: center;
    color: yellow;
    background-color: black;
    border-color: violet;
  }

  .container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }

  .container-1 input#search{
    width: 300px;
    height: 50px;
    background: yellowgreen;
    border: none;
    font-size: 10pt;
    float: left;
    color: #4838a3;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .container-1 input#search::-webkit-input-placeholder {
    color: aqua;
  }

  .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: aliceblue;
  }

  .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: azure;
  }

  .container-1 input#search:-ms-input-placeholder {
    color: green;
  }

  .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: violet;
  }

  .container-1 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


      -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }

  button:active,
  button:visited,
  button:focus {
     background: yellow;
     color: black;
  }
