<p>response-evento-logistica copia   works!</p>

<div class="container">
  <caption class="title  col-sm-12"><strong>{{title}}</strong></caption>
  <div class="row col-md-12">    <!--  <div class="row justify-content-md-center"> -->
     <div >
      <form #fm ="ngForm">
        <input #id="ngModel"  [(ngModel)]="manif.id" class="form-control" name="id" id="id">
        <input #id="ngModel"  [(ngModel)]="evento.id" class="form-control" name="idev" id="idev">
        <div class="row">
            <label for="descManif" class="col-sm-2 col-form-label">Manifestazione</label>
            <div class=" col-md-6">
              <input disabled #descManif="ngModel"  [(ngModel)]="manif.descManif" class="form-control" name="descManif" id="descManif"   style="text-transform : uppercase">
            </div>

          <div class=" col-md-2">
            <div>
              <input disabled #d_stato_manifestazione="ngModel"  [(ngModel)]="manif.d_stato_manifestazione" class="form-control" name="d_stato_manifestazione" id="d_stato_manifestazione" [style.color]="manif.stato == 2 ? 'red' : 'white'"  [style.background-color]="manif.stato == 2 ? 'yellow' : 'red'">
            </div>
          </div>
        </div>


      <hr>
      <div class="row">
        <label for="descrizione" class="col-sm-2 col-form-label">Evento</label>
        <div class=" col-md-6">
          <input disabled #descrizione="ngModel"  [(ngModel)]="evento.descrizione" class="form-control" name="descrizione" id="descrizione"   style="text-transform : uppercase">
        </div>
        <div class=" col-md-2">
            <div>
              <input disabled #d_stato_evento="ngModel"  [(ngModel)]="evento.d_stato_evento" class="form-control" name="d_stato_evento" id="d_stato_evento" [style.color]="evento.stato == 2 ? 'red' : 'white'"  [style.background-color]="evento.stato == 2 ? 'yellow' : 'red'">
            </div>
          </div>
      </div>
      <br>
      <div class="row">
        <label for="localita" class="col-sm-2 col-form-label">Localita</label>
        <div class=" col-md-6">
          <input disabled #localita="ngModel"  [(ngModel)]="evento.localita" class="form-control" name="localita" id="localita"   style="text-transform : uppercase">
        </div>
        <div class=" col-md-2">
           <div>
               <input  disabled [(ngModel)]="evento.data" [ngModel]="evento.data | date:'dd/MM/yyyy'" #data="ngModel" class="form-control"  name="data" id="data">
            </div>
          </div>
      </div>

      <br>

      </form>
    </div>
   </div>
</div>
<!-- parte con i dati utente disabled  + token -->

<div class="col-md-5">
  <div class="card-header centrata textbold">Conferma Registrazione Evento cccccc</div>
</div>

<div class="card-body" *ngIf="confermataPrenotazione === false">
<form name="confRegEventoForm"  #confRegEventoForm=ngForm (ngSubmit)="onSubmit(confRegEventoForm)">
  <input type="text" name="token" class="form-control" id="token" placeholder="token" [(ngModel)]="form.token" #token="ngModel" ngModel>
  <input type="text" name="keyuserpren" class="form-control" id="keyuserpren" placeholder="keyuserpren" [(ngModel)]="form.keyuserpren" #keyuserpren="ngModel" ngModel>
  <div class="form-group row">
        <label for="cognome"  class="col-sm-2 col-form-label">Cognome</label>
        <div class="col-sm-5">
        <input disabled type="text" name="cognome" class="form-control" id="cognome" placeholder="cognome" [(ngModel)]="form.cognome" #cognome="ngModel" ngModel >

        </div>
  </div>
  <br>

  <div class="form-group row">
          <label for="inputName3"  class="col-sm-2 col-form-label">Nome</label>
          <div class="col-sm-5">
          <input disabled type="text" name="nome" class="form-control" id="inputname3" placeholder="Name" [(ngModel)]="form.nome"  #nome="ngModel" ngModel >

        </div>
   </div>
   <br>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-5">
      <input disabled type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" #email="ngModel" ngModel>
    </div>
  </div>

  <br>
  <div class="form-group row">
    <label for="inputtelefono3"  class="col-sm-2 col-form-label">telefono</label>
    <div class="col-sm-5">
      <input disabled type="text" name="telefono" class="form-control" id="inputtelefono3" placeholder="telefono" [(ngModel)]="form.telefono" #telefono="ngModel" ngModel pattern="^[0-9]*$">
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="inputdataevento3"  class="col-sm-2 col-form-label">Evento</label>
    <div class="col-sm-2">
      <input disabled type="text" name="dataevento" class="form-control" id="inputdataevento3" placeholder="data Evento" [(ngModel)]="form.dataevento" #dataevento="ngModel" ngModel>
    </div>
    <div class="col-sm-5">
      <input disabled type="text" name="evento" class="form-control" id="inputevento3" placeholder="Evento" [(ngModel)]="form.evento" #evento="ngModel" ngModel>
    </div>
  </div>

  <br>

  <div class="form-row col-md-12">
    <div class="row col-md-12">

      <!-- tabella di dettaglio dei fedeli -->
       <table class="table table-striped table-sm shadow-lg p-3 mb-5 bg-white table-bordered table-responsive-lg table-container">
        <thead>
         <tr>
          <th scope="col">#</th>
          <th scope="col">Cognome</th>
          <th scope="col">Nome</th>
          <th scope="col">Settore</th>
          <th scope="col">File</th>
          <th scope="col">Posto</th>
          <th  colspan="2" style="text-align: center ">Action</th>
         </tr>
        </thead>
        <tbody>
          <tr></tr>
<!--
         <tr app-evento-posto1 *ngFor ="let eventoposto of eventoposti | paginate: { itemsPerPage: 5, currentPage: p }; let i = index"
            [evento-posto1-prog] = i+1
            [evento-posto1-data] = "eventoposto"

            >
         </tr>  -->
        </tbody>
       </table>
       <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

<!--
  <div class="form-group row">
    <label for="inputtipobiglietto3" class="col-sm-2 col-form-label">tipo biglietto</label>
    <div class="col-sm-5">
      <input disabled type="text" name="tipobiglietto" class="form-control" id="inputtipobiglietto3" placeholder="tipo biglietto" [(ngModel)]="form.tipobiglietto" required #tipobiglietto="ngModel" ngModel>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="inputPersone3" class="col-sm-2 col-form-label">Numero Persone</label>
    <div class="col-sm-3">
      <input type="text" name="persone" class="form-control" id="inputpersone3" placeholder="Persone" [(ngModel)]="form.persone" required #persone="ngModel" ngModel pattern="^[1-9]*$">
         <div class="col-sm-10 alert alert-danger  has-error" *ngIf="persone.dirty && persone.touched && persone.invalid" >
              <div  *ngIf="persone.errors.required">
                il campo Numero Persone è obbligatorio
              </div>
              <div *ngIf="persone.errors?.pattern">
                    inserire il numero delle persone
              </div>
        </div>
    </div>
  </div>  -->

  <br>
  <div class="form-group row">
    <label for="inputcodPren3" class="col-sm-2 col-form-label">Cod. Prenotazione</label>
    <div class="col-sm-5">
      <input type="text" name="codpren" class="form-control" id="inputcodpren3" placeholder="codice di prenotazione evento" [(ngModel)]="form.codpren" required #codpren="ngModel" ngModel  minlength="5" maxlength="5">
         <div class="col-sm-10 alert alert-danger  has-error" *ngIf="codpren.dirty && codpren.touched && codpren.invalid" >
              <div  *ngIf="codpren.errors.required">
                il campo Codice Prenotazione è obbligatorio
              </div>
              <div  *ngIf="codpren.errors.minlength">
                il campo deve essere lungo più di {{ codpren.errors.minlength.requiredLength }} caratteri
              </div>
              <div  *ngIf="codpren.errors.maxlength">
                il campo non deve essere lungo più di {{ codpren.errors.maxlength.requiredLength }} caratteri
              </div>
        </div>
    </div>
  </div>
  <br>

<br>

  <div *ngIf="isVisible  && !alertSuccess" class="alert alert-danger" role="alert">
      <p>{{Message}}</p>
  </div>
  <div *ngIf="isVisible  && alertSuccess" class="alert alert-success" role="alert">
     <p>{{Message}}</p>
  </div>



  <br>

  <div class="form-group row">
    <div class="col-sm-10 offset-2">

      <div class="row">

        <div class="col-sm-3">
          <button type="submit" class="btn btn-primary btn-sm-2" [disabled]="!confRegEventoForm.valid  && visibleConferma === true">Conferma
            <fa-icon [icon]="faSave"  fixed="true"></fa-icon>
          </button>
        </div>
        <div class="col-sm-3">
          <button  class="btn btn-danger float-right "  (click)="open(content)"> Cancella
            <fa-icon [icon]="faTrash"  fixed="true"></fa-icon>
          </button>
        </div>
      </div>

    </div>
  </div>

</form>
</div>
<div class="card-body" *ngIf="confermataPrenotazione === true">
  <p></p>
  <p> grazie <strong>{{form.cognome}} &nbsp; {{form.name}} &nbsp;</strong> di aver confermato la tua presenza per la serata del &nbsp;<strong>{{form.datapren}}</strong></p>
  <p>Abbiamo inviato al tuo indirizzo mail <strong>{{form.email}}</strong> un promemoria per la tua gradita presenza al sanfra</p>
  <p>siamo onorati della tua presenza e cercheremo di farti trascorrere quanche ora in allegria</p>
  <p></p>
  <p>se hai provveduto a registrarti, effettuando il  login avrai modo di verificare le tue prenotazioni</p>
  <p>ti aspettiamo</p>
  <p></p>
  <p *ngIf="emailsend === true">Sanfra</p>
</div>






<!-- form popup di conferma cancellazio0ne -->
<ng-template #content let-modal>
<div class="modal-header modal-header-color">
<h4 class="modal-title" id="modal-basic-title">Conferma Cancellazione Prenotazione</h4>
<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<form>
<p>confermi la cancellazione della Prenotazione &nbsp;&nbsp;</p>
<p></p>
<p><strong> per la serata {{form.datapren}}&nbsp;&nbsp;a nome {{form.cognome}}&nbsp;{{form.name}} </strong>&nbsp;?</p>
<!--   esempio di calendario che funziona benissimo
<div class="form-group">
  <label for="dateOfBirth">Date of birth</label>
  <div class="input-group">
    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
    </div>
  </div>
</div>
-->
</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>

<button type="button" class="btn btn-danger btn-md " (click)="modal.close('Delete click')"> Cancella
<fa-icon [icon]="faTrash"  fixed="true"></fa-icon>
</button>
</div>
</ng-template>

<br>
<br>
















