
  <td >{{i}}</td>
  <td>{{prenotazevento.cognome}}</td>
  <td>{{prenotazevento.nome}}</td>
  <td>{{prenotazevento.telefono}}</td>
  <td class="statoMan">{{tipobiglietto.d_tipo}}</td>
  <td >{{prenotazevento.idbiglietto}}</td>      <!--  sistituire con biglietto-->
  <td [style.color]="getColor(prenotazevento.idstato)" [style.background]="getBackground(prenotazevento.idstato)">{{statobiglietto.d_stato_biglietto}}</td>
  <td>
    <button class="btn btn-sm  btn-danger" (click)="open(content, prenotazevento)">
        <fa-icon [icon]="faTrash"  fixed="true"></fa-icon>
    </button>
  </td>
<td *ngIf="prenotazevento.idstato === 1">
  <button class="btn btn-sm btn-success" (click)="navigate(navigateEdit,prenotazevento)">Visualizza
  <fa-icon [icon]="faUserEdit"  fixed="true"></fa-icon>
</button>
</td>

<td *ngIf="prenotazevento.idstato === 0"> <!-- *ngIf="functionUser === navigateEdit" -->
  <button class="btn btn-sm btn-primary" (click)="navigate(navigateEmissione,prenotazevento)">Em. biglietto
  <fa-icon [icon]="faTicketAlt"  fixed="true"></fa-icon>
</button>
</td>
<!--
<td *ngIf="evento.idtipo == 2">
  <button class="btn btn-sm btn-warning" (click)="navigate(navigatePosti,prenotazevento)">Posti
  <fa-icon [icon]="faList"  fixed="true"></fa-icon>
  </button>
  </td>
-->


<!--
<td >
  <button class="btn btn-sm btn-warning" (click)="navigate(navigateDays,manif)">eventi
  <fa-icon [icon]="faList"  fixed="true"></fa-icon>
</button>
</td>  -->



<ng-template #content let-modal>
  <div class="modal-header modal-header-color">
  <h4 class="modal-title" id="modal-basic-title">Conferma Cancellazione</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <form>
  <p>confermi la cancellazione della prenotazione Evento &nbsp; <strong>{{prenotazevento.cognome}}</strong>&nbsp; ?</p>


  </form>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel
    <fa-icon [icon]="faWindowClose" fixed="true"></fa-icon>
  </button>

  <button type="button" class="btn btn-danger btn-md " (click)="modal.close('Delete click')"> Cancella
    <fa-icon [icon]="faTrash" fixed="true"></fa-icon>
  </button>
  </div>
</ng-template>
