
  <td >{{i}}</td>
  <td>{{cassamov.cognome}}</td>
  <td>{{cassamov.nome}}</td>
  <td>{{cassamov.importo | currency: 'EUR'}}</td>
  <td>{{biglietto.numero}}</td>
  <!--
  <td class="statoMan">{{cassamov.d_stato_evento}}</td>
  <td [style.color]="getColor(evento.statobiglietti)" [style.background]="getBackground(evento.statobiglietti)">{{evento.d_stato_evento_biglietto}}</td>
  <td [style.color]="getColor(evento.statoposti)" [style.background]="getBackground(evento.statoposti)">{{evento.d_stato_evento_posto}}</td>  -->





<!--
  <td >
    <button class="btn btn-sm  btn-danger" (click)="open(content, evento)">
        <fa-icon [icon]="faTrash"  fixed="true"></fa-icon>
    </button>
  </td>  -->


