
  <td >{{i}}</td>
  <td>{{cassamov.cognome}}</td>
  <td>{{cassamov.nome}}</td>
  <td>{{cassamov.importo | currency: 'EUR'}}</td>
  <td>{{tipopagamento.d_tipo_pagamento}}</td>
  <td>{{cassamov.idbiglietto}}</td>
 <!--
  <td class="statoMan">{{tipopagamento.d_tipo_pagamento}}</td>
  <td [style.color]="getColor(cassamov.stato)" [style.background]="getBackground(cassamov.stato)">{{evento.d_stato_evento_biglietto}}</td>
  <td [style.color]="getColor(cassamov.stato)" [style.background]="getBackground(cassamov.stato)">{{evento.d_stato_evento_posto}}</td>   -->





<!--
  <td >
    <button class="btn btn-sm  btn-danger" (click)="open(content, evento)">
        <fa-icon [icon]="faTrash"  fixed="true"></fa-icon>
    </button>
  </td>  -->


