
input.ng-invalid {border-left:5px solid red; }
input.ng-valid{border-left:5px solid green;}



.borde {
  border: 3px solid blue;
}

.borde1 {
  border: 3px solid red;
}
.borde2 {
  border: 3px solid green;
}.centro {

  text-align:center;

  }
